.App {
  text-align: center;
  background-color: #fff;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header {
  margin-left: 20px;
}
* {
  box-sizing: border-box;
}
.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
  color: #000;

}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: #000;
  border: 1px solid;
  width: 100px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #000;
  color: antiquewhite;
}

.search > input[type="text"]{
  width: 60%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}

.one:hover{
  background-color:#cceabb;
  border-radius: 3%;
}
.mylogo{
  margin-left: 0;
  color: #fff;
  text-decoration: none;
}